@import "reset.css";
@import "measurements.css";

body {
	background-color: #e9ebee;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 1020px;
}


.header-banner {
	background-color: #4469b0;
	border-bottom: 2px solid #2a497b; 
	padding: 10px 0;
	margin-bottom: 10px;
}

.header-logo a {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	font-weight: normal;
}

.header-logo a:hover {
	text-decoration: underline;
}

.side-nav,
.content-area,
.advertising {
	float: left;
	display: inline;
}

.side-nav {
	width: 17%;
}

.side-nav ul li {
	border-radius: 2px;
	border: 1px solid transparent;
}

.side-nav ul li a {
	font-size: 13px;
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 7px;
	padding-left: 30px;
}

.side-nav ul li:hover,
.side-nav ul li.current {
	background-color: #f5f6f7;
	border-color: #dddfe2;
}

.side-nav ul li.account-name {
	margin-bottom: 10px;
}

.side-nav ul li a.news-feed {
	background: url(images/news-feed.png) no-repeat 5px center;
}

.side-nav ul li a.messenger {
	background: url(images/messenger.png) no-repeat 5px center;
}

.side-nav ul li a.watch {
	background: url(images/watch.png) no-repeat 4px center;
}

.side-nav ul li a.marketplace {
	background: url(images/marketplace.png) no-repeat 4px center;
}

.content-area {
	width: 51%;
	margin: 0 1%;
}


/* post styles */
.post-heading {
	padding: 10px 10px 0;
}

.post-heading h2 {
	color: #336699;
	padding-top: 15px;
}

.post-heading h2 span {
	color: #666;
	font-weight: normal;
	font-size: 90%;
}

.post-heading a {
	color: inherit;
	text-decoration: none;
}

.post-heading a:hover {
	text-decoration: underline;
}

.post {
	background-color: #fff;
	border: 1px solid #dddfe2;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
	overflow: hidden;
}

.profile-picture {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	float: left;
	display: inline-block;
	height: 3rem;
	width: 3rem;
	margin-right: 10px;
}

.post-heading h2 {
	color: #369;
}

.post-heading h2 span {
	color: #666;
	font-weight: normal;
	font-size: 90%;
}

.post-text {
	clear: both;
	font-size: 14px;
	line-height: 1.5;
	padding: 10px;
}

.advertising {
	width: 30%;
}